<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    Hello World
    <h1>Routes</h1>
    <ul>
    {% for route, resource in routes.items() %}
        <li>`{{route}}` - `{{resource.routing_str}}` - {{resource.func}}</li>
    {% endfor %}
    </ul>

    <!-- Useless comment.  About fifteen years ago I was the "architect" for a framework nicknamed "enterprise".

    #1 It was written in PHP

    #2 To my knowledge it was one of the first MVC's in the wild but it was written in PHP (therefore kinda goofy)

    #3 While working on the template and static system I was testing something similar to greetings.js but for some reason
    it wasn't loading.


    After a day of pain & suffering, I noticed that script.type was "test/javascript" and therefore not being
        executed.   Once I figured out my typo, I stood up from my desk and told my client that I was going to the liquor store to
        get a pack of beer.
        C - "So things are going well?"
        Me - "I am ahead of schedule and the frontend is ready for the designers."
        C - "Oh, alright, can you grab me a lager?"
        Me - "Budweiser?"
        C - "Fuck you."

    -->
    <script type="text/javascript" src="/static/greetings.js"></script>


</body>
</html>